aiogram==3.13.1
telethon==1.36.0
pyrogram==2.0.106
sqlalchemy==2.0.35
aiosqlite==0.20.0
pydantic-settings==2.5.2
python-socks[asyncio]==2.5.3
aiohttp-socks==0.9.0
python-dotenv==1.0.1
loguru==0.7.2
aiofiles==24.1.0
